/*Variables*/

/*Styles*/
* { margin: auto; }
body {
	font: normal 1.5em Helvetica, Arial, sans-serif;
  background-color: #F8F8F8;
	margin: auto 10px;
	padding-bottom:70px;
}
header {
	text-align: center;
}
section {
	width: 95%;
	max-width: 1200px;
}
#single {
	#return-map {
		display: block;
		margin-bottom: 5px;
	}
	.artist {
		font-weight: bold;
		font-size: 2em;
		margin: 0px;
		display: inline;
	}
	.dribbble {
		display: inline;
		margin-top: -10px;
		padding-left: 10px;
	}
	.state-name {
		font-weight: bold;
		font-size: 1.4em;
		border-bottom: 1px solid darkgrey;
	}
}
#button-holder {
	max-width: 500px;
	width: 800%;
}
hr {
	display: block;
	height: 1px;
	border: 0;
	border-top: 1px solid darkgrey;
	padding-top: 10px;
	width: 75%;
	margin: 5px auto;
}
footer {
	background-color: white;
	margin-top: 10px;
	padding: 20px 30px;
	position: fixed;
	bottom: 0;
	left: 0;
	width: 100%;
	z-index: 10;
	p {
		display: inline;
	}
	div { display: inline; }
	.twitter {
		margin: 0px 20px;
	}
	.top {
		float: right;
		margin-right: 15px;
		cursor: pointer;
		font-size: 1.25em;
	}
}
a:link, a:visited, a:hover, a:active { text-decoration: none; color: black; }

/*Medua Queries*/
@media only screen and (max-width: 550px) {
	.twitter {
		display: none;
		text-align: center;
	}
}
/* Extra small devices (phones, less than 768px) */
/* No media query since this is the default in Bootstrap */
/* Small devices (tablets, 768px and up) */
// @media (min-width: @screen-sm-min) {}
/* Medium devices (desktops, 992px and up) */
// @media (min-width: @screen-md-min) {}
/* Large devices (large desktops, 1200px and up) */
// @media (min-width: @screen-lg-min) {}