/*Variables*/
@font-face {
  font-family: 'BebasNue';
  src: url(../assets/BebasNeue.otf);
}
* {
  margin: auto;
  text-align: center;
}
body {
  font-family: 'BebasNue', arial, georgia;
  letter-spacing: 1.5px;
  width: 100%;
}
nav {
  font-size: 1.2em;
  margin-top: 10px;
}
nav h1 {
  color: #7dc57d;
  font-size: 2em;
  letter-spacing: 3.5px;
}
nav a:link,
nav a:visited {
  text-decoration: none;
  color: black;
}
nav a:hover,
nav a:active {
  text-decoration: none;
  color: darkgrey;
}
section {
  width: 80%;
}
article {
  max-width: 720px;
  background-color: darkgrey;
  color: white;
  padding: 50px 10px;
  margin-bottom: 12px;
}
article h1 {
  font-size: 3em;
  letter-spacing: 5.5px;
}
article .descrip {
  font-family: Ariel, Helvetica;
}
hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 2px solid #7DC57D;
  padding-top: 10px;
  width: 75%;
}
footer hr {
  width: 20%;
}
a:link,
a:visited,
a:hover,
a:active {
  text-decoration: none;
  color: white;
}
/*Medua Queries*/
@media only screen and (max-width: 550px) {
  article p {
    display: none;
  }
}
