body {
  font-family: 'Open Sans', sans-serif;
  transition: background-color 1s ease;
}

p {
  font-size: 24px;
  font-weight: 600;
  margin: 12px 0px;
  transition: color 1s ease;
  color: white;
}

.aligner {
  display: flex;
  align-items: center;
  min-height: 24em;
  justify-content: center;
}

.aligner-item {
  flex: 1;
  max-width: 50%;
  text-align: center;
}

#contact a {
  margin: 0px 5px;
  font-weight: 600;
  color: white;
  text-decoration: none;
}

#contact a:visited {
  color: white;
  text-decoration: none;
}

#contact a:active {
  color: white;
  text-decoration: none;
}

@media (max-width: 600px) {
  .aligner-item {
    max-width: none;
  }
}
