/*Variables*/
/*Styles*/
body {
  background-color: #195985;
}
#app {
  margin: auto;
  margin-top: 15px;
  padding: 25px;
  width: 80%;
  min-width: 400px;
  max-width: 700px;
  border-radius: 15px;
  background-color: white;
}
#app #title {
  font-size: 3em;
  font-weight: bold;
}
#app #by-line a:hover,
#app #by-line a:active {
  text-decoration: none;
  color: black;
}
#app #by-line a:link,
#app #by-line a:visited {
  text-decoration: none;
  color: #195985;
}
.button-holder .my-button .btn {
  letter-spacing: 0.5px;
  background-color: #efefef;
}
@media (max-width: 600px) {
  .button-holder .my-button .btn {
    width: 100%;
  }
}
